<% if @menu_node %>
  <!-- row -->
  <div class="row">
      <div class="col-sm-12">
          <!-- Website Menu -->
          <ul class="menu boxed clearfix bg-image-home">
            <%= create_menu_node(@menu_node) %>
              <!-- <li><a href="#"><i class="menu&#45;icon menu&#45;icon&#45;1"></i>Home</a></li> -->
              <!-- <li> -->
              <!--     <a href="#"><i class="menu&#45;icon menu&#45;icon&#45;2"></i>Online Radio</a> -->
              <!--     <ul> -->
              <!--         <li><a href="#">Katy Perry</a></li> -->
              <!--         <li><a href="#">Miley Cyrus</a></li> -->
              <!--         <li><a href="#">Selena Gomez</a></li> -->
              <!--     </ul> -->
              <!-- </li> -->
              <!-- <li> -->
              <!--     <a href="#"><i class="menu&#45;icon menu&#45;icon&#45;3"></i>Top 25</a> -->
              <!--     <ul> -->
              <!--         <li><a href="#">Miley Cyrus</a></li> -->
              <!--         <li><a href="#">Katy Perry</a></li> -->
              <!--         <li><a href="#">Lene Marlin</a></li> -->
              <!--     </ul> -->
              <!-- </li> -->
              <!-- <li> -->
              <!--     <a href="#"><i class="menu&#45;icon menu&#45;icon&#45;4"></i>TV show</a> -->
              <!--     <ul> -->
              <!--         <li> -->
              <!--             <a href="#">Katy Perry</a> -->
              <!--             <ul> -->
              <!--                 <li><a href="#">Album 1</a></li> -->
              <!--                 <li><a href="#">Album 2</a></li> -->
              <!--                 <li><a href="#">Album 3</a></li> -->
              <!--             </ul> -->
              <!--         </li> -->
              <!--         <li> -->
              <!--             <a href="#">Miley Cyrus</a> -->
              <!--             <ul> -->
              <!--                 <li><a href="#">Album 1</a></li> -->
              <!--                 <li><a href="#">Album 2</a></li> -->
              <!--                 <li><a href="#">Album 3</a></li> -->
              <!--             </ul> -->
              <!--         </li> -->
              <!--         <li> -->
              <!--             <a href="#">Selena Gomez</a> -->
              <!--             <ul> -->
              <!--                 <li><a href="#">Album 1</a></li> -->
              <!--                 <li><a href="#">Album 2</a></li> -->
              <!--                 <li><a href="#">Album 3</a></li> -->
              <!--             </ul> -->
              <!--         </li> -->
              <!--     </ul> -->
              <!-- </li> -->
              <!-- <li><a href="#"><i class="menu&#45;icon menu&#45;icon&#45;5"></i>News</a></li> -->
              <!-- <li><a href="#"><i class="menu&#45;icon menu&#45;icon&#45;6"></i>Videos</a></li> -->
              <!-- <li><a href="#"><i class="menu&#45;icon menu&#45;icon&#45;7"></i>Gallery</a></li> -->
              <!-- <li><a href="#"><i class="menu&#45;icon menu&#45;icon&#45;8"></i>Contact Us</a></li> -->
          </ul>
          <!--/ Website Menu -->
      </div>
      <div class="col-sm-12">
          <!-- Website Menu -->
          <ul class="menu boxed clearfix bg-image-home">
              <li><a href="#"><i class="menu-icon menu-icon-1"></i>Home</a></li>
              <li>
                  <a href="#"><i class="menu-icon menu-icon-2"></i>Online Radio</a>
                  <ul>
                      <li><a href="#">Katy Perry</a></li>
                      <li><a href="#">Miley Cyrus</a></li>
                      <li><a href="#">Selena Gomez</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#"><i class="menu-icon menu-icon-3"></i>Top 25</a>
                  <ul>
                      <li><a href="#">Miley Cyrus</a></li>
                      <li><a href="#">Katy Perry</a></li>
                      <li><a href="#">Lene Marlin</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#"><i class="menu-icon menu-icon-4"></i>TV show</a>
                  <ul>
                      <li>
                          <a href="#">Katy Perry</a>
                          <ul>
                              <li><a href="#">Album 1</a></li>
                              <li><a href="#">Album 2</a></li>
                              <li><a href="#">Album 3</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">Miley Cyrus</a>
                          <ul>
                              <li><a href="#">Album 1</a></li>
                              <li><a href="#">Album 2</a></li>
                              <li><a href="#">Album 3</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">Selena Gomez</a>
                          <ul>
                              <li><a href="#">Album 1</a></li>
                              <li><a href="#">Album 2</a></li>
                              <li><a href="#">Album 3</a></li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li><a href="#"><i class="menu-icon menu-icon-5"></i>News</a></li>
              <li><a href="#"><i class="menu-icon menu-icon-6"></i>Videos</a></li>
              <li><a href="#"><i class="menu-icon menu-icon-7"></i>Gallery</a></li>
              <li><a href="#"><i class="menu-icon menu-icon-8"></i>Contact Us</a></li>
          </ul>
          <!--/ Website Menu -->
      </div>
  </div>
  <!--/ row -->
<% end %>
