<% if @menu_node %>
  <!-- row -->
  <div class="row">
      <div class="col-sm-12">
          <!-- Website Menu -->
          <ul class="menu boxed clearfix bg-image-home">
            <%= create_menu_node(@menu_node) %>
          </ul>
          <!--/ Website Menu -->
      </div>
  </div>
  <!--/ row -->
<% end %>
